.btn-scr,
.btn-form,
.inp-st,
.field-select {
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.2em 0.5rem;
  box-shadow: 4px 3px black;
  background: white;
  cursor: pointer;
}

.first-option {
  color: gray;
}

.line {
  width: 75rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}
